<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"></ul></div>

In [1]:
import pandas as pd
import numpy as np

In [2]:
train = pd.read_csv("../data/input/train_transaction.csv")

In [47]:
cd_list = [
    3042025,
    3080561,
    3115183,
    3139245,
    3180719,
    3222220,
    3265341,
    3265356,
    3308149,
    3325579,
    #3351151,
    #3380722,
    #3407099,
    #3441189,
    #3469997,
]

In [48]:
c_fe = [col for col in train.columns if col[0] == "C"]
c_fe

['C1',
 'C2',
 'C3',
 'C4',
 'C5',
 'C6',
 'C7',
 'C8',
 'C9',
 'C10',
 'C11',
 'C12',
 'C13',
 'C14']

In [49]:
X = train.query("TransactionID in @cd_list")[c_fe]
y = np.ones(len(X)) * 10000000

In [50]:
X

,C1,C2,C3,C4,C5,C6,C7,C8,C9,C10,C11,C12,C13,C14
55025,136.0,130.0,0.0,0.0,101.0,68.0,0.0,0.0,57.0,0.0,108.0,0.0,461.0,77.0
93561,146.0,139.0,0.0,0.0,109.0,73.0,0.0,0.0,65.0,0.0,118.0,0.0,503.0,84.0
128183,133.0,129.0,0.0,0.0,102.0,65.0,0.0,0.0,55.0,0.0,108.0,0.0,511.0,74.0
152245,129.0,125.0,0.0,0.0,101.0,63.0,0.0,0.0,53.0,0.0,105.0,0.0,492.0,70.0
193719,128.0,124.0,0.0,0.0,106.0,62.0,0.0,0.0,53.0,0.0,105.0,0.0,499.0,68.0
235220,128.0,126.0,0.0,0.0,103.0,61.0,0.0,0.0,55.0,0.0,106.0,0.0,496.0,68.0
278341,119.0,119.0,0.0,0.0,98.0,57.0,0.0,0.0,50.0,0.0,98.0,0.0,482.0,64.0
278356,119.0,119.0,0.0,0.0,98.0,57.0,0.0,0.0,50.0,0.0,98.0,0.0,483.0,64.0
321149,114.0,112.0,0.0,0.0,95.0,54.0,0.0,0.0,49.0,0.0,93.0,0.0,473.0,61.0
338579,114.0,112.0,0.0,0.0,93.0,54.0,0.0,0.0,49.0,0.0,93.0,0.0,474.0,61.0

In [54]:
X = X[[ "C6", "C9", "C11", "C13", "C14"]]

In [55]:
from scipy import linalg # linalg.solve(A, b) 　Ax = bの解を求める関数

Xtil = np.c_[np.ones(X.shape[0]), X] # Xの行列の左端に[1,1,1,...,1]^Tを加える。(7)式を確認しよう
A = np.dot(Xtil.T, Xtil) # 標準形A,bに当てはめる。
b = np.dot(Xtil.T, y)
w = linalg.solve(A, b) # (8)式をwについて解く。

In [56]:
w

array([ 1.00000000e+07,  1.46462223e-07,  9.74259118e-10, -4.43454542e-08,
        2.24115214e-09, -7.82216405e-08])